
/*======================
    404 page
=======================*/
/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/*  */

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 

 .four_zero_four_bg h1{
 font-size:80px;


 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #00aaa1;
    margin: 20px 0;
    display: inline-block;
  font-weight: 600;}
	.contant_box_404{ margin-top:-50px;}
  .error-text{
    color:#00aaa1;
    font-weight: 900;
  }
